@charset "UTF-8";

/* 상단 메뉴 */
#wrap {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  color: #fff;
}

#wrap img {
  width: 100%;
  height: auto;
}

#wrap img:nth-of-type(1) {
  opacity: 1;
}

#wrap img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#wrap #header_wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
}

#wrap>a {
  width: auto;
  height: 500px;
}

#wrap #header {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
}

#wrap #header a {
  display: block;
}

#wrap #header #logo {
  float: left;
  padding: 21px 0;
  font-size: 22px;
  z-index: 10;
}

#wrap #header #logo h1 a {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  height: 50px;
  line-height: 50px;
}

#wrap #header #logo .logo_eduwill {
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  width: 90px;
  height: 53px;
}

#wrap #header #logo .logo_text {
  vertical-align: top;
  padding-left: 10px;
}

#wrap #header .inner {
  float: right;
  width: 50%;
  height: 100%;
}

#wrap #header .inner #gnb {
  display: flex;
  float: left;
  justify-content: space-between;
  width: 100%;
}

#wrap #header .inner #gnb a:hover {
  color: #ffe537;
}

#wrap #header .inner #gnb li {
  display: inline-block;
  padding: 38px 0;
  font-size: 17px;
  font-weight: 500;
}

#wrap #main_banner {
  position: absolute;
  display: inline-block;
  top: 42%;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

#wrap #main_banner strong {
  font-size: 38px;
  line-height: 1.25;
  letter-spacing: -1px;
}

#wrap #main_banner li:nth-child(2) {
  margin-top: 22px;
}

#wrap #main_banner li span {
  color: #ffe537;
  border-bottom: 1px solid #ffe537;
}

#wrap #main_banner li span:after {
  transform: rotate(45deg);
  content: '';
  display: inline-block;
  position: relative;
  top: -3px;
  width: 6px;
  height: 6px;
  margin-left: 5px;
  border-right: 2px solid #ffe537;
  border-top: 2px solid #ffe537;
  border-radius: 2px;
}

/* 컨텐츠 영역 */
#container {
  position: relative;
  width: 100%;
  height: auto;
  color: #333;
}

/* 공통 영역 */
.wrap {
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.section_title {
  width: 100%;
  margin-top: 80px;
}

.section_title div {
  text-align: center;
  font-size: 32px;
}

/* 첫번째 영역 */
#first {
  width: 100%;
  margin-top: 50px;
}

#first .inner {
  padding-bottom: 50px;
  border-bottom: 1px solid #eaeaea;
}

#first .inner .section_box {
  width: 25%;
  padding: 96px 0 17px;
  background-size: auto;
  border-left: 1px solid #eaeaea;
  box-sizing: border-box;
}

#first .inner .section_box:first-child {
  border: none;
}

#first .inner .section_box:nth-child(1) {
  background-image: url('../img/icon_1.png');
  background-repeat: no-repeat;
  background-position: top center;
}

#first .inner .section_box:nth-child(2) {
  background-image: url('../img/icon_2.png');
  background-repeat: no-repeat;
  background-position: top center;
}

#first .inner .section_box:nth-child(3) {
  background-image: url('../img/icon_3.png');
  background-repeat: no-repeat;
  background-position: top center;
}

#first .inner .section_box:nth-child(4) {
  background-image: url('../img/icon_4.png');
  background-repeat: no-repeat;
  background-position: top center;
}

#first .inner .section_box p:last-child {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 400;
}

#first .inner .section_box p strong {
  font-size: 33px;
  font-weight: bold;
}

#first .inner .section_box p span {
  font-size: 16px;
  font-weight: 500;
}

/* 두번째 영역 */
#second .inner .section_box {
  width: 50%;
  padding-left: 36px;
  margin-top: 40px;
}

#second .inner .section_box:nth-of-type(odd) {
  padding-left: 0;
}

#second .inner .section_box a {
  text-align: left;
  color: black;
}

#second .inner .section_box a div {
  overflow: hidden;
}

#second .inner .section_box a div img {
  transform: scale(1);
  transition: all 0.3s
}

#second .inner .section_box a div img:hover {
  transform: scale(1.05);
}

#second .inner .section_box a p {
  font-size: 14px;
  margin-top: 20px;
}

#second .inner .section_box a p:last-child {
  font-size: 14px;
  margin-top: 13px;
  line-height: 1.36;
}

#second .inner .section_box a p strong {
  font-size: 22px;
}

/* 세번째 영역 */
#third {
  position: relative;
}

#third .arrow_btn_wrap {
  position: absolute;
  left: 50%;
  top: calc(50% + 1px);
  transform: translate(-50%,-50%);
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  z-index: 100;
}

#third .arrow_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 11;
}

#third #carousel_prev {
  left: 0;
}

#third #carousel_next {
  right: 0;
}

#third .inner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  padding: 51px 0;
  overflow: hidden;
  background: #f4f4f4;
}

#third .inner::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  margin-top: -1px;
}

#third #wrap_circle {
  display: flex;
  flex-direction: row;
}

#third #wrap_circle .circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  background: #fff;
  margin: 0 35px;
  z-index: 10;
  transition: .5s;
}

#third #wrap_circle .circle:first-child {
  /* margin-left: -195px; */
}

#third #wrap_circle .circle:nth-of-type(7) {
  background: #ffe537;
}

#third #wrap_circle .circle:nth-of-type(7) strong {
  color: #fff;
}

#third #wrap_circle .circle .heart_icon {
  width: 29px;
  height: 26px;
  background-image: url('../img/heart_icon.png');
  background-repeat: no-repeat;
  background-position: top center;
  /* background-size: cover; */
  z-index: 10;
}

#third #wrap_circle .circle:nth-of-type(7) .heart_icon {
  background-position: bottom center;
}

#third #wrap_circle .circle strong {
  font-size: 26px;
  color: #a3a3a3;
}

#third #wrap_circle .circle span {
  margin-top: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
  color: #666;
}

/* 네번째 영역 */
#fourth {
  width: 100%;
  height: auto;
  padding-bottom: 150px;
}

#fourth a {
  color: #333;
}

#fourth .inner {
  margin-top: 80px;
  justify-content: center;
  text-align: left;
}

#fourth .inner .box {
  float: left;
  width: calc(100% / 3 - 46px);
  padding: 0 23px;
}

#fourth .inner .box_title {
  position: relative;
  display: block;
  padding: 15px 0;
  font-size: 20px;
  border-bottom: 1px solid #c9c9c9;
}

#fourth .inner .list {
  position: relative;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  padding: 17px 2px 17px;
  border-bottom: 1px solid #eaeaea;
}

#fourth #report .list {
  padding: 17px 30px 16px 2px;
}

#fourth #report .list:after {
  display: block;
  position: absolute;
  content: '';
  top: calc(50% + 4px);
  right: 10px;
  width: 8px;
  height: 8px;
  margin-top: -5px;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  transform: rotate(-135deg);
  transition: all .3s;
}

#fourth #report .list_click.head .list:after {
  top: 50%;
  transform: rotate(45deg);
}

#fourth #report .list_full .list_body {
  display: none;
}

#fourth #report .list_full .list_body.on {
  display: block;
  font-size: 14px;
  min-height: 71px;
  line-height: 1.6;
  padding: 16px 18px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #eaeaea;
}

#fourth #report .list_full .list_body span {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#fourth #interview .list_wrap .list_box {
  margin-top: 12px;
}

#fourth #interview .list_wrap .list_box a {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 6px 3px 8px;
}

#fourth #interview .list_wrap .list_box .list_thumb {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  background-position: center center;
  background-size: cover;
}

#fourth #interview .list_wrap .list_box li:nth-child(1) .list_thumb {
  background-image: url('../img/interview_1.png');
}

#fourth #interview .list_wrap .list_box li:nth-child(2) .list_thumb {
  background-image: url('../img/interview_2.png');
}

#fourth #interview .list_wrap .list_box li:nth-child(3) .list_thumb {
  background-image: url('../img/interview_3.png');
}

#fourth #interview .list_wrap .list_box .list_contents {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
}

#fourth #interview .list_wrap .list_box .list_contents strong {
  font-size: 15px;
}

#fourth #interview .list_wrap .list_box .list_contents span {
  font-size: 14px;
  margin-top: 7px;
}

/* 하단영역 */
#footer {
  width: 100%;
}

#footer a {
  color: #666;
}

#footer .full_layout {
  width: 100%;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

#footer .full_layout:nth-of-type(2) {
  background-color: #f8f8f8;
  border: none;
}

#footer .inner {
  position: relative;
  flex-direction: column;
  padding: 0 60px;
  font-size: 14px;
}

#footer .full_layout:nth-of-type(2) .inner {
  padding: 24px 60px 80px;
}

#footer .inner .up_box ul {
  display: flex;
  justify-content: left;
}

#footer .inner .up_box li {
  position: relative;
  padding: 20px 0;
}

#footer .inner .up_box li:first-child:after {
  display: none;
}

#footer .inner .up_box li:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  display: block;
  width: 1px;
  height: 10px;
  margin-top: -5px;
  background-color: #c7c7c7;
}

#footer .inner .up_box li a {
  padding: 0 15px;
}

#footer .inner .up_box li:first-child a {
  padding-left: 0;
}

#footer .inner .up_box div {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 14px;
  border-right: 1px solid #c7c7c7;
  border-left: 1px solid #c7c7c7;
}

#footer .inner .up_box div span {
  position: relative;
  height: 100%;
  font-weight: 400;
  color: #666;
  padding-right: 15px;
}

#footer .inner .up_box div span:after {
  right: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  transform: rotate(45deg);
  border-top-width: 1px;
  border-left-width: 1px;
}

#footer .inner .up_box a .moveTop {
  cursor: pointer;
}

#footer .inner .down_box > ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

#footer .inner .down_box > ul li {
  font-size: 14px;
  color: #888;
  line-height: 1.5;
  margin-top: 9px;
  padding-left: 26px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 22px auto;
}

#footer .inner .down_box > ul li:nth-of-type(1) {
  background-image: url('../img/icon_location.png');
}

#footer .inner .down_box > ul li:nth-of-type(2) {
  background-image: url('../img/icon_tel.png');
}

#footer .inner .down_box > ul li:nth-of-type(3) {
  padding-left: 0;
}

#footer #sns_box {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  padding-top: 24px;
}

#footer #sns_box > a {
  margin-left: 12px;
  cursor: pointer;
}

#footer #sns_box .sns {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px auto;
  box-sizing: border-box;
}

#footer #sns_box a:nth-of-type(1) .sns {
  background-image: url('../img/icon_facebook.png');
  margin-left: 0;
}

#footer #sns_box a:nth-of-type(2) .sns {
  background-image: url('../img/icon_blog.png');
}

#footer #sns_box .site_up {
  z-index: 100;
}

#footer #sns_box .site_up .site {
  width: 190px;
  padding: 10px 0 9px 20px;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  text-align: left;
  background-color: #f8f8f8;
}

#footer #sns_box .site_up .site span {
  color: #888;
  font-size: 14px;
  line-height: 1.5;
}

#footer #sns_box .site_up .site span:after {
  right: 7%;
  content: '';
  position: absolute;
  top: 70%;
  display: block;
  width: 7px;
  height: 7px;
  margin-top: -3.5px;
  border-width: 0;
  border-style: solid;
  border-color: #aaa;
  transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
  transition: 0.3s;
}

#footer #sns_box .site_up.on .site span:after {
  transform: rotate(-45deg);
}

#footer #sns_box .family_site {
  position: absolute;
  width: 190px;
  right: 0;
  bottom: 0;
  text-align: left;
  transition: 0.3s;
  opacity: 0;
}

#footer #sns_box .site_up.on+.family_site {
  bottom: 35px;
  opacity: 1;
}

#footer #sns_box .family_site ul {
  padding: 10px;
  border: 1px solid #d3d3d3;
  background-color: #f8f8f8;
  box-sizing: border-box;
}

#footer #sns_box .family_site ul li {
  padding: 10px;
  line-height: 1.5;
  height: 20px;
}

#footer #sns_box .family_site ul li a {
  color: #888;
}
