@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.display-3 {
  font-weight: 500;
}

.container {
  .row {
    position: relative;

    & > div {
      transition: 0.3s;
    }

    .col-md-4 {
      min-height: 450px;
      cursor: pointer;

      img {
        padding-left: 0;
        padding-bottom: 20px;
      }
    }

    .col-md-12 {
      position: absolute;
      z-index: 999;
      background: #fff;
    }
  }
}
