@charset "UTF-8";

/* common ui */
.button {
  font-size: 16px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  margin: 10px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #47B5FF;
  transition: .5s;
  text-shadow: none;
}

.button:hover {
  background: #fff;
  color: #47B5FF;
}

.back-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 15px;
  bottom: 15px;
  background: black;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 1s;
  z-index: 800;
}

.on {
  opacity: 0.8;
}

.back-to-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

/* mobile button line style */
input[type=checkbox]#gnbcheck {
  display: none;
}

#gnbbtn {
  display: none;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  z-index: 500;
}

#gnbbtn>span {
  position: absolute;
  top: 16px;
  height: 1.6px;
  width: 32px;
  background: #fff;
  transform: translateY(-50%);
}

#gnbbtn>span:nth-child(1) {
  top: 8px;
}

#gnbbtn>span:nth-child(3) {
  top: 24px;
}

/* mobile close button */
#mobile-close-btn {
  display: none;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
}

#mobile-close-btn:before, #mobile-close-btn:after {
  content: '';
  position: absolute;
  height: 1.6px;
  width: 32px;
  /*width: 100%;*/
  top: 16px;
  background: #fff;
  transform: translateY(-50%) rotate(45deg);
}

#mobile-close-btn:before {
  transform: translateY(-50%) rotate(-45deg);
}

/* header */
#header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 50px;
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  z-index: 800;
}

#top-logo {
  float: left;
}

#top-logo a {
  color: white;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-size: 24px;
}

/* gnb */
#gnb {
  float: right;
}

#gnb ul {
  overflow: hidden;
  /* li 정렬 */
}

#gnb ul li {
  float: left;
}

#gnb ul li a {
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  font-weight: bold;
}

/* section */
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  min-height: 100vh;
  box-sizing: border-box;
  transition: 0.5s;
  overflow: hidden;
}

section:nth-child(odd) {
  background: #f1f1f1;
}

section>article {
  text-align: center;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  padding: 0 20%;
  color: white;
}

section>article>h2 {
  font-size: 40px;
}

section>article>p {
  font-size: 20px;
  line-height: 30px;
}

section .row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1410px;
  color: #333;
  padding: 120px 0;
  z-index: 500;
  box-sizing: border-box;
}

section .row .column {
  flex: 33%;
  text-align: center;
}

section .row .column .inner.none-type {
  border: 0;
  box-shadow: none;
  background: none;
}

section .row .column .inner {
  text-align: center;
  margin: 15px;
  padding: 15px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

section .row .column .inner img {
  width: 100%;
}

section .row .column .inner img.shadow {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  transition: 1s;
}

section .row .column .inner img.shadow:hover {
  box-shadow: none;
}

/* section row title style */
section .row>h2 {
  position: absolute;
  height: 80px;
  line-height: 80px;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

section .row>h2:before, section .row>h2:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

section .row>h2:before {
  width: 120px;
  height: 1px;
  bottom: 1px;
  background: #ddd;
}

section .row>h2:after {
  width: 40px;
  height: 3px;
  bottom: 0;
  background: #47B5FF;
}

/* progress bar style */
.progressbar .items-wrap {
  overflow: hidden;
  color: #fff;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.3);
}

.progressbar .items-wrap:last-child {
  margin-bottom: 0;
}

.progressbar .items {
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 0 5px 5px 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  width: 300px;
  /* background: transparent; */
}

.progressbar .items .title {
  float: left;
  font-weight: 700;
}

.progressbar .items .percent {
  float: right;
}

.progressbar .items-wrap:nth-of-type(1) .items {
  background: #557B83;
}

.progressbar .items-wrap:nth-of-type(2) .items {
  background: #39AEA9;
}

.progressbar .items-wrap:nth-of-type(3) .items {
  background: #B4CDE6;
}

.progressbar .items-wrap:nth-of-type(4) .items {
  background: #A2D5AB;
}

.progressbar .items-wrap:nth-of-type(5) .items {
  background: #E5EFC1;
}

.progressbar .items-wrap:nth-of-type(6) .items {
  background: #A2B38B;
}

.progressbar .items-wrap:nth-of-type(7) .items {
  background: #C98474;
}

/* progress transition / animation */
section.active .row .column .inner.progressbar .items-wrap:nth-of-type(1) .items {
  width: 90%;
  transition: 1s;
}

section.active .row .column .inner.progressbar .items-wrap:nth-of-type(2) .items {
  width: 80%;
  transition: 1s 0.25s;
}

section.active .row .column .inner.progressbar .items-wrap:nth-of-type(3) .items {
  width: 60%;
  transition: 1s 0.5s;
}

section.active .row .column .inner.progressbar .items-wrap:nth-of-type(4) .items {
  width: 70%;
  transition: 1s 0.75s;
}

section.active .row .column .inner.progressbar .items-wrap:nth-of-type(5) .items {
  width: 75%;
  transition: 1s 1s;
}

section.active .row .column .inner.progressbar .items-wrap:nth-of-type(6) .items {
  width: 75%;
  transition: 1s 1.25s;
}

section.active .row .column .inner.progressbar .items-wrap:nth-of-type(7) .items {
  width: 90%;
  transition: 1s 1.5s;
}

section#intro {
  width: 100%;
  height: 100%;
  z-index: 1;
}

section#intro::after {
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/intro/3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

section#intro article {
  padding: 0 5%;
}

section#myprofile {
  background: url('../img/bg/about_bg.jpg') no-repeat;
  background-size: cover;
}

section#myprofile .row {
  padding-bottom: 50px;
}

section#myprofile .row .column .inner img {
  width: 20%;
  border-radius: 100%;
}

section#myprofile .row .column .inner h3 {
  margin: 15px 0;
}

section#myprofile .row .column .inner .job {
  color: #999;
  font-size: 14px;
}

section#myprofile .row .column .inner .profile_grid_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 60%;
  margin: 0 auto;
  padding-left: 12vw;
}

section#myprofile .row .column .inner .profile_grid {
  display: grid;
  align-items: center;
  grid-template-columns: 0.2fr 0.8fr;
  width: 100%;
  min-width: 220px;
  padding-top: 30px;
  text-align: left;
  font-size: 17px;
}

section#myprofile .row .column .inner .profile_grid img {
  width: auto;
  border-radius: 0;
  margin: 0 auto;
  padding: 0 10px 20px 10px;
}

section#myprofile:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

section#myskill {
  width: 100%;
  height: 100%;
  z-index: 1;
}

section#myskill::after {
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/bg/my_skill_bg.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

section#myskill .row>h2, section#myskill .row .column p {
  color: #fff;
}

section#myskill .row .column p {
  padding-top: 40px;
  font-weight: bold;
  font-size: 18px;
}

section#myskill .row .column p:first-child {
  padding-top: 0px;
}

section#mytools .row .column h3 {
  font-weight: bold;
}

section#mytools .row .column .inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

section#mytools .row .column:nth-child(4) .inner, section#archiving .row .column .inner {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

section#mytools .row .column .inner .img_wrap, section#archiving .row .column .inner .img_wrap {
  display: flex;
  align-items: center;
  width: 125px;
  height: 125px;
}

section#mytools .row .column .inner .img_wrap img, section#archiving .row .column .inner .img_wrap img {
  vertical-align: middle;
}

section#archiving .row .column .inner a {
  color: #47B5FF;
}

section#archiving .row .column .inner a:hover {
  text-decoration: underline;
}

section.project_section .row .column .inner h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

section.project_section .row .column .inner p {
  text-align: left;
}

section.project_section .row .column .inner .img_hover {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section.project_section .row .column .inner .img_hover::after {
  content: "";
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  height: 50px;
  width: 50px;
  background: url("../img/click.png") no-repeat center / cover;
  opacity: 0.5;
}

section.project_section .row .column .inner .img_hover.hovered::after {
  display: none;
}

section.project_section .row .column .inner .img_hover img {
  border-radius: 5px;
  cursor: pointer;
}

section.project_section .row .column .inner .img_hover.hovered img {
  transition: all 0.2s linear;
  transform: scale(1.3);
}

section#front_project .row .column .inner.none-type {
  background-color: #fff;
}

section#back_project .row .column .inner.none-type {
  background-color: #f1f1f1;
}

section .row {
  opacity: 0;
  transform: translateY(1000px);
  transition: 1s;
}

section:nth-child(odd) .row {
  opacity: 0;
  transform: translateX(calc(-100%));
  transition: 1s;
}

section:nth-child(even) .row {
  opacity: 0;
  transform: translateX(calc(+100%));
  transition: 1s;
}

section.active .row {
  opacity: 1;
  transform: translateY(0px);
}

/* modal area */
section#modal {
  min-height: 0;
}

.popup-wrap {
  background-color: rgba(0, 0, 0, .3);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  padding: 15px;
  z-index: 999;
}

.popup {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #47B5FF;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup-head {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-body {
  width: 100%;
  background-color: #ffffff;
}

.body-content {
  padding: 30px;
}

.body-titlebox {
  text-align: center;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.body-contentbox {
  word-break: break-word;
  overflow-y: auto;
  min-height: 100px;
  max-height: 200px;
}

.popup-foot {
  width: 100%;
  height: 50px;
}

.pop-btn {
  display: inline-flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  float: left;
  color: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
}

.pop-btn.confirm {
  border-right: 1px solid #f1f1f1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* footer area */
#footer {
  background: #000;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
}

#footer .footer-top {
  background: #111;
  padding: 60px 0 30px;
}

#footer .container {
  /* footer-top의 .container와 #footer의 자식요소 .container의 공통 스타일 적용 */
  width: 1140px;
  margin: 0 auto;
}

#footer>.container {
  padding: 30px 0;
  text-align: center;
}

#footer .container .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer .container .row .column {
  flex: 25%;
  padding: 0 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

#footer .container .row .column.footer-logo h3 {
  font-size: 34px;
  padding: 2px 0 2px 10px;
  border-left: 4px solid #47B5FF;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
}

#footer .container .row .column h4 {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

#footer .container .row .column h4:after, #footer .container .row .column h4:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .container .row .column h4:before {
  width: 100%;
  background: #555;
}

#footer .container .row .column h4:after {
  width: 60px;
  background: #47B5FF;
}

#footer .container .row .column ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .container .row .column ul li:nth-child(1) {
  padding-top: 0;
}

#footer .container .row .column p {
  line-height: 26px;
}

#footer .container .row .column.news input[type=text] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  box-sizing: border-box;
}

#footer .container .row .column.news input[type=submit] {
  border: 0;
  padding: 6px 0;
  width: 35%;
  background: #47B5FF;
  color: white;
  cursor: pointer;
}

/* media query */
@media screen and (max-width: 1200px) {
  section .row .column {
    flex: 100%;
  }

  section#archiving .row .column, section#mytools .row .column {
    flex: 50%;
  }

  section#myprofile .row .column .inner img {
    width: 30%;
  }

  #footer .container {
    width: 100%;
  }

  #footer .container .row .column {
    flex: 50%;
  }
}

@media screen and (max-width: 900px) {
  section#myprofile .row .column .inner .profile_grid_wrap {
    grid-template-columns: auto;
  }

  @media screen and (max-width: 767px) {
    .progressbar .items {
      width: 200px;
    }

    section#myprofile .row .column .inner img {
      width: 50%;
    }

    section#myprofile .row .column .inner .profile_grid_wrap {
      padding-left: 0;
    }

    #footer .container {
      flex: 100%;
    }

    input[type=checkbox]#gnbcheck:checked~#header #gnb {
      left: 0;
    }

    #gnbbtn, #mobile-close-btn {
      display: block;
    }

    #gnb {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      transition: .5s ease-in-out;
      z-index: 600;
    }

    #gnb ul {
      padding-top: 50px;
    }

    #gnb ul li {
      width: 100%;
      padding-left: 10px;
      box-sizing: border-box;
    }
  }

  @media screen and (max-width: 500px) {
    section#intro article h2 {
      font-size: 35px;
    }

    section#intro article p {
      font-size: 18px;
    }

    section#myprofile .row .column .inner .profile_grid_wrap {
      width: auto;
    }

    section#mytools .row .column .inner .img_wrap, section#archiving .row .column .inner .img_wrap {
      width: 90px;
      height: 90px;
    }

    @media screen and (max-width: 380px) {
      section#myprofile .row .column .inner img {
        width: 50%;
      }

      section#archiving .row .column, section#mytools .row .column {
        flex: 100%;
      }
    }
