@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 56px;
  line-height: 80px;
  letter-spacing: -0.045em;
}
