@charset "UTF-8";

/* 공통 클래스 */
.flex_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex_nav_wrap {
  display: flex;
  height: 100%;
  padding: 0 16px;
  align-items: center;
  color: #222;
}

.round-button {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  background: #125DE6;
  color: #fff;
  letter-spacing: -0.02em;
  border-radius: 30px;
}

/* 헤더 영역 */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 78px;
  box-sizing: border-box;
  margin: 0 auto;
  z-index: 100;
  background-color: #fff;
}

#header .header-wrap {
  display: flex;
  width: 100%;
  max-width: 1540px;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  margin: 0 auto;
}

#header .header-wrap .logo {
  display: flex;
  height: 100%;
  align-items: center;
}

#header .header-wrap .logo a img {
  height: 22px;
  margin-top: 2px;
}

#header .header-wrap .navbar-collapse {
  flex: 1;
  height: 78px;
  cursor: auto;
}

#header .header-wrap .navbar-collapse .nav-wrap {
  flex: 1;
}

#header .header-wrap .navbar-collapse .nav-wrap nav {
  display: flex;
  flex: 1;
  height: 100%;
  margin-left: 45px;
  font-size: 16px;
  letter-spacing: -0.02em;
}

#header .header-wrap .navbar-collapse .nav-wrap nav ul {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#header .header-wrap .navbar-collapse .nav-wrap nav ul li {
  position: relative;
  height: 100%;
}

#header .header-wrap .navbar-collapse .nav-wrap nav ul li:first-child a:after {
  content: '';
  width: 8px;
  height: 4px;
  margin-left: 8px;
  background: url('../img/header/arrow-down-icon.svg') no-repeat 50% 50%/100%;
  background-size: cover;
}

#header .header-wrap .navbar-collapse .nav-wrap nav ul li:last-child a:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background: url('../img/header/guide-icon.svg') no-repeat 50% 50%/100%;
}

#header .header-wrap .navbar-collapse .langChange {}

#header .header-wrap .navbar-collapse .langChange .langSelecBtn {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  padding: 0;
  background-image: url('../img/header/language-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
  cursor: pointer;
}

#header .header-wrap .navbar-collapse .service-menu {
  height: 100%;
  margin-left: 33px;
}

#header .header-wrap .navbar-collapse .service-menu .round-button {
  display: block;
  position: relative;
  height: 38px;
  line-height: 14px;
  padding: 12px 24px;
  border-radius: 30px;
  letter-spacing: -0.02em;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  background: #125DE6;
  cursor: pointer;
}

#header .header-wrap .navbar-collapse .service-menu .login {
  background: #F5F5F5;
  color: #222222;
}

#header .header-wrap .navbar-collapse .service-menu .trial {
  margin-left: 8px;
}

/* 컨텐츠 영역 */
#container {
  margin-top: 78px;
}

#first {
  position: relative;
  width: 100%;
  height: 64vw;
  min-height: 685px;
  max-height: 1000px;
}

#first .banner-container {
  position: relative;
  width: 100%;
  max-width: 1919px;
  height: 64vw;
  min-height: 685px;
  max-height: 1000px;
  margin: 0 auto;
}

#first .banner-container .banner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
}

#first .banner-container .banner-wrapper .illustration-wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  align-items: flex-end;
  justify-content: flex-end;
}

#first .banner-container .banner-wrapper .illustration-wrapper img {
  position: absolute;
}

#first .banner-container .banner-wrapper .illustration-wrapper .banner-man {
  width: 29.39vw;
  height: 53.71vw;
  right: 27.08vw;
  bottom: -2.34vw;
  z-index: -2;
}

#first .banner-container .banner-wrapper .illustration-wrapper .banner-woman {
  width: 40.23vw;
  height: 30.18vw;
  right: 6.28vw;
  bottom: -0.88vw;
  z-index: -1;
}

#first .banner-container .banner-wrapper .illustration-wrapper .banner-icon.one {
  width: 11.13vw;
  height: 10.55vw;
  right: 41.63vw;
  bottom: 44.04vw;
}

#first .banner-container .banner-wrapper .illustration-wrapper .banner-icon.two {
  width: 14.65vw;
  height: 8.3vw;
  right: 13.99vw;
  bottom: 46.19vw;
  box-shadow: -10px 12px 40px 0px #0000001a, -10px 50px 60px 0px #0000001a;
}

#first .banner-container .banner-wrapper .illustration-wrapper .banner-icon.three {
  width: 11.13vw;
  height: 6.64vw;
  right: 51.69vw;
  bottom: 22.05vw;
  box-shadow: -10px 12px 40px 0px #0000001a, -10px 50px 60px 0px #0000001a;
}

#first .banner-container .banner-wrapper .illustration-wrapper .banner-icon.four {
  width: 14.84vw;
  height: 12.11vw;
  right: 5.2vw;
  bottom: 30.47vw;
}

#first .banner-container .banner-wrapper .text-wrapper {
  padding-top: 100px;
  padding-left: 8vw;
}

#first .banner-container .banner-wrapper .text-wrapper h1 {
  font-size: 3.15vw;
  line-height: 4.92vw;
  letter-spacing: -0.045em;
}

#first .banner-container .banner-wrapper .text-wrapper p {
  margin-top: 24px;
  font-size: 20px;
  line-height: 32px;
}

#first .banner-container .banner-wrapper .text-wrapper .round-button {
  height: 44px;
  line-height: 20px;
  font-size: 14px;
  padding: 12px 32px;
  margin: 26px 0 0 3px;
  border-radius: 30px;
}

#first .banner-container .banner-wrapper .text-wrapper .round-button span {
  width: 12px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

#first .banner-container .banner-wrapper .text-wrapper .round-button span:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 26px;
  margin: -3px 7px 0 0;
  vertical-align: middle;
  background: url('../img/banner/fast-icon.png') no-repeat 0 0/cover;
}

#first .banner-container .banner-navigator {
  display: flex;
  position: absolute;
  height: 34px;
  justify-content: center;
  align-items: center;
  bottom: 60px;
  left: 80px;
}

#first .banner-container .banner-navigator .control-btn {
  width: 34px;
  height: 34px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 0;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
}

#first .banner-container .banner-navigator .control-btn.prev {
  margin-right: 20px;
  background-image: url('../img/arrow-left-icon.svg');
}

#first .banner-container .banner-navigator .control-btn.next {
  margin-left: 20px;
  background-image: url('../img/arrow-right-icon.svg');
}

#first .banner-container .banner-navigator .progress-wrapper {
  display: flex;
  flex-direction: row;
}

#first .banner-container .banner-navigator .progress-wrapper .progress {
  width: 60px;
  height: 4px;
  border-radius: 8px;
  background: #E5E5E5;
}

#first .banner-container .banner-navigator .progress-wrapper .progress:nth-child(2) {
  margin: 0 8px;
}

#first .banner-container .banner-navigator .progress-wrapper .progress.active {
  background: #222;
}

#second {
  width: 100%;
  height: 58.59vw;
  background: #F1F4F8;
  overflow: hidden;
}

#second .text-wrapper {
  padding-top: 9.77vw;
  text-align: center;
}

#second .text-wrapper h2 {
  font-size: 2.54vw;
  line-height: 4.10vw;
  margin: 0;
}

#second .text-wrapper p {
  font-size: 1.56vw;
  line-height: 2.54vw;
  margin: 1.95vw 0 0 0;
}

#container #second .slide-wrapper {
  width: 500%;
  margin-top: 3.91vw;
}

#second .slide-wrapper .slide {
  display: inline-block;
  position: relative;
  float: left;
  width: 260px;
  height: 226px;
  margin-left: 26px;
  padding: 30px;
  background: #fff;
  vertical-align: middle;
}

#second .slide-wrapper .slide img {
  height: 34px;
}

#second .slide-wrapper .slide h3 {
  font-size: 18px;
  line-height: 36px;
  margin: 6px 0 0 0
}

#second .slide-wrapper .slide p {
  line-height: 24px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #222222;
  white-space: pre-line;
  word-break: keep-all;
  margin: 0;
}

#second .slide-wrapper .slide a {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  bottom: 34px;
}

#third {
  display: flex;
  position: relative;
  width: 100%;
  height: 7835px;
}

#third .presentation-wrapper {
  display: flex;
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 0;
}

#third .presentation-wrapper .illustration-slides-wrapper {
  display: flex;
  position: relative;
  width: 56.25vw;
  height: 100vh;
  justify-content: space-around;
}

#third .presentation-wrapper .illustration-slides-wrapper .illustration-slides {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  flex: 1;
  overflow: hidden;
}

#third .presentation-wrapper .illustration-slides-wrapper .illustration-slides.one {
  display: flex;
}

#third .illustration-slides>div {
  display: flex;
}

#third .illustration-slides>div .slides-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#third .illustration-slides.one {
  background: #4898F7;
  z-index: 1;
}

#third .illustration-slides.one div .slides-img-wrapper .slides-img-wrap {
  margin-bottom: 2.54vw;
  border-radius: 8px;
  box-shadow: -4px 10px 30px rgb(0 0 0 / 16%);
}

#third .illustration-slides.one div .slides-img-wrapper .slides-img-wrap .slides-img.back {
  display: none;
}

#third .illustration-slides.one .left-slides .slides-img-wrapper .slides-img-wrap .slides-img {
  width: 31.25vw;
  height: 19.53vw;
  border-radius: 8px;
}

#container .illustration-slides.one .right-slides .slides-img-wrapper .slides-img-wrap .slides-img {
  width: 12.5vw;
  height: 22.17vw;
  border-radius: 8px;
}

#container .illustration-slides.one .right-slides .slides-img-wrapper .slides-img-wrap .slides-img.logo {
  width: 10.74vw;
  height: 10.74vw;
  margin-bottom: -1.17vw;
  margin-left: 0.78vw;
  box-shadow: none;
}

#third .presentation-wrapper .contents-slides-wrapper {
  position: relative;
  display: flex;
  width: 620px;
  align-items: center;
  padding-left: 3.91vw;
  background: #fff;
}

#third .presentation-wrapper .contents-slides-wrapper .contents-slides {
  position: absolute;
  display: none;
}

#third .presentation-wrapper .contents-slides-wrapper .contents-slides.one {
  display: block;
}

#third .contents-slides .text-wrapper .title {
  line-height: 3.50vw;
  font-size: 2.54vw;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.03em;
  color: #222222;
  white-space: pre-line;
  margin: 0;
}

#third .contents-slides .text-wrapper .description {
  font-size: 20px;
  line-height: 32px;
  margin: 32px 0 0 0;
  white-space: pre-line;
  word-break: keep-all;
}

#third .contents-slides .text-wrapper .description span {
  display: inline-block;
  margin-top: 12px;
}

#third .contents-slides .text-wrapper .description span:first-child {
  margin-top: 0;
}

#third .presentation-wrapper .slides-navigator-wrapper {
  position: relative;
  display: flex;
  height: 100vh;
  top: 0;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

#third .presentation-wrapper .slides-navigator-wrapper .navigator-wrap {
  display: flex;
  width: 60px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

#third .presentation-wrapper .slides-navigator-wrapper .navigator-wrap .control-btn {
  width: 34px;
  height: 34px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 0;
  border-radius: 100%;
  padding: 0;
  margin-bottom: 32px;
  cursor: pointer;
}

#third .presentation-wrapper .slides-navigator-wrapper .navigator-wrap .control-btn.prev {
  background-image: url('../img/arrow-up-icon.svg');
}

#third .presentation-wrapper .slides-navigator-wrapper .navigator-wrap .control-btn.next {
  background-image: url('../img/arrow-down-icon.svg');
  margin-bottom: 0;
}

#third .presentation-wrapper .slides-navigator-wrapper .navigator-wrap .dot {
  width: 0.39vw;
  height: 0.39vw;
  border-radius: 0.39vw;
  margin-bottom: 1.76vw;
  background: #E5E5E5;
}

#third .scroll-wrapper {
  display: flex;
  position: relative;
  width: 840px;
}

#fourth {
  position: relative;
  width: 100%;
  height: 63.48vw;
  background-color: #0A2A62;
  overflow: hidden;
}

#fourth .contents-wrapper {
  position: relative;
  width: 100vw;
  padding: 7.81vw;
  margin: 0 auto;
}

#fourth .contents-wrapper .text-wrapper {
  color: #FFFFFF;
}

#fourth .contents-wrapper .text-wrapper .title {
  line-height: 4.10vw;
  font-size: 2.54vw;
  font-weight: 600;
  letter-spacing: -0.04em;
  margin-top: 1.95vw;
  white-space: pre-line;
}

#fourth .contents-wrapper .text-wrapper .description {
  line-height: 32px;
  font-size: 20px;
  letter-spacing: -0.04em;
  white-space: pre-line;
  margin: 32px 0 0 0;
  padding: 0;
}

#fourth .contents-wrapper .text-wrapper .tail {
  line-height: 28px;
  font-size: 16px;
  letter-spacing: -0.06em;
  white-space: pre-wrap;
  color: #A6BCE0;
  margin: 24px 0 0 0;
}

#fourth .contents-wrapper .shild-img-wrap {
  display: block;
  width: 11.04vw;
  height: 13.87vw;
  margin-top: 10.64vw;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE0IiBoZWlnaHQ9IjE0MiIgdmlld0JveD0iMCAwIDExNCAxNDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDE1Ljg2ODdMNTYuODkxIDBMMTEzLjc4MiAxNS44Njg3QzExMy43ODIgMTUuODY4NyAxMTMuNzgyIDQyLjAyNjMgMTEzLjc4MiA4My4zMDU0QzExMy43ODIgMTI0LjU4NCA1Ni44OTEgMTQyIDU2Ljg5MSAxNDJDNTYuODkxIDE0MiAwIDEyNC41ODQgMCA4My4zMDU0QzAgNDIuMDI2MyAwIDE1Ljg2ODcgMCAxNS44Njg3WiIgZmlsbD0iIzA2M0M5OCIvPgo8ZWxsaXBzZSBjeD0iNTYuODkxNCIgY3k9IjYwLjg1NzIiIHJ4PSI2LjA5NTQ3IiByeT0iNi4wODU3MSIgZmlsbD0iIzBBMkE2MiIvPgo8cGF0aCBkPSJNNTYuNjg4IDYzLjY5NzNMNjIuODQ2NyA4MS4zNDU4SDUwLjUyOTRMNTYuNjg4IDYzLjY5NzNaIiBmaWxsPSIjMEEyQTYyIi8+Cjwvc3ZnPgo=');
  background-size: cover;
  background-repeat: no-repeat;
}

#fourth .contents-wrapper .card-wrapper {
  position: absolute;
  display: flex;
  width: 71.88vw;
  height: 100%;
  top: 9.77vw;
  right: 7.81vw;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  overflow: hidden;
}


#fourth .group.a {
  padding-top: 26.37vw;
}

#fourth .group.b {
  padding-top: 29.1vw;
}

#fourth .group.c {
  padding-top: 7.13vw;
}

#fourth .group.d {

}

#fourth .group.e {
  padding-top: 2.34vw;
}

#fourth .group .card-wrap {
  display: flex;
  width: 12.7vw;
  min-height: 14.65vw;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding: 1.76vw 1.56vw 1.37vw 1.76vw;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
}

#fourth .group .card-wrap:nth-of-type(2) {
  margin-top: 1.95vw;
}

#fourth .group .card-wrap .card-img {
  height: 3.52vw;
  width: 7.81vw;
}

#fourth .group.a .card-wrap .card-img {
  background-image: url('../img/card/img-01.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#fourth .group.b .card-wrap .card-img {
  background-image: url('../img/card/img-02.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#fourth .group.c .card-wrap .card-img {
  background-image: url('../img/card/img-03.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#fourth .group.c .card-wrap:last-child .card-img {
  background-image: url('../img/card/img-04.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#fourth .group.d .card-wrap .card-img {
  background-image: url('../img/card/img-05.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#fourth .group.d .card-wrap:last-child .card-img {
  background-image: url('../img/card/img-06.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#fourth .group.e .card-wrap .card-img {
  background-image: url('../img/card/img-07.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#fourth .group.e .card-wrap:last-child .card-img {
  background-image: url('../img/card/img-08.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#fifth {
  width: 100%;
  height: 60vh;
  padding: 8.01vw 0;
  z-index: 10;
}

#fifth .text-wrapper {

}

#fifth .customer-grid {

}

#fifth .customer-grid .customer-logo {

}

#fifth .customer-grid .customer-logo .logo {
  
}

#fifth .customer-grid .customer-logo .logo.bok {

}

#footer {
  width: 100%;
  height: 100vh;
  background-color: #222;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
