// component

.box {
  display: flex;

  .items {
    display: flex;
    box-sizing: border-box;
    padding: 50px;
    flex: 100%;
    flex-shrink: 0;
    color: $fontColorBasic;
    font-size: $fontSizeMid;
    align-items: center;
    justify-content: space-around;

    .title {
      position: relative;
      font-size: $titleFontSizeBig;

      &:before {
        content: '';
        position: absolute;
        left: 368px;
        top: 89px;
        display: inline-block;
        width: 180px;
        height: 2px;
        background-color: #000000;
      }
    }

    .txt_wrap {
      margin-left: 20px;

      .txt {
        line-height: 32px;
        color: #000;
        font-size: 18px;
      }

      .sub_txt {
        line-height: 16px;
        margin: 20px 0 27px;
        color: $fontColorPrimary;
        font-size: 16px;
      }
    }

    img {
      width: 100%;
    }
  }

  &.items_2 {
    .items {
      flex: 50%;
    }
  }
}

.content {
  .inner {
    .swiper.mySwiper {
      margin-bottom: 160px;

      .swiper-wrapper {
        .swiper-slide {
          .sub_banner {
            width: 100%;
            height: 630px;
            object-fit: cover;
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        width: auto;
        height: auto;
        top: 30%;
        bottom: 0;
        color: transparent;

        &:after {
          width: 37px;
          height: 71px;
        }
      }

      .swiper-button-prev {
        left: 205px;

        &:after {
          background-image: url("../img/btn/arrow3_prev.png");
          background-size: cover;
          background-position: center center;
        }
      }

      .swiper-button-next {
        right: 205px;

        &:after {
          background-image: url("../img/btn/arrow3_next.png");
          background-size: cover;
          background-position: center center;
        }
      }

      .swiper-pagination-clickable {
        position: relative;
        bottom: 68px;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0;
          top: calc(50% - 1px);
          background-color: #d5d5d5;
          z-index: -1;
        }

        .swiper-pagination-bullet {
          width: 16px;
          height: 16px;
          margin: 0 124px;
          background: #fff;
          opacity: 1;
          transition: all 0.3s ease-out;
          z-index: 20;
        }

        .swiper-pagination-bullet-active {
          background: #3a845e;
          border: solid 2px #fff;
          box-sizing: border-box;
          transition: all 0.3s ease-out;
        }
      }
    }

    .inner_box {
      position: relative;
      width: 1240px;
      margin: 0 auto;
      padding-top: 80px;

      .bg_txt {
        position: absolute;
        left: 0;
        top: -20px;
        line-height: 212px;
        font-size: 212px;
        font-weight: bold;
        color: #f7f7f7;
        letter-spacing: -0.01em;
      }

      .title {
        position: relative;
        line-height: 100px;
        padding-right: 72px;
        margin-bottom: 90px;
        font-size: 75px;
        text-align: right;
        color: #000000;
      }

      .link_list {
        li {
          width: 100%;
          margin-bottom: 50px;
          border-top: solid 2px #000;

          a {
            position: relative;
            display: block;
            width: 100%;
            padding: 35px 0;
            overflow: hidden;

            strong {
              float: left;
              width: 526px;
              font-size: 36px;
              line-height: 42px;
              color: #000;
            }

            span {
              float: left;
              width: 600px;
              font-size: 18px;
              line-height: 34px;
              color: #000;
            }

            .right_btn {
              right: 52px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }

      .tbl-header {
        background-color: $tableBg;
      }

      .tbl-content {
        margin-top: 0;
        margin-bottom: 50px;

        .gbtn {
          margin-top: 20px;

          &.right {
            float: right;
          }
        }
      }

      h1 {
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
      }

      h2 {
        font-size: 45px;
        line-height: 65px;
        color: #000000;
      }

      table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border: 0;
      }

      tr {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          height: 1px;
          right: 0;
          bottom: 0;
          left: 0;
          background: $borderColorPrimary;
        }
      }

      th {
        width: 100%;
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: $fontSizeNormal;
        color: #fff;
        text-transform: uppercase;
      }

      td {
        width: 100%;
        padding: 15px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: $fontSizeNormal;
        color: $fontColorBasic;
      }

      .accordion {
        dl {
          margin: 50px auto;

          dt {
            font-size: 18px;
            text-indent: 3em;
            color: #fff;
            line-height: 35px;
            height: 35px;
            background: $tableBg;
          }

          dd {
            height: 300px;
            background: lightgray;

            p {
              text-indent: 1em;
              padding: 20px;
            }
          }
        }
      }
    }
  }
}
