// 메인 페이지

.inner {
  &:nth-child(1) {
    margin-top: 50px;
  }
}

.mainbanner {
  width: 1660px;
  height: 820px;
  margin: 0 auto;
  // background-image: url("../img/main_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .inner {
    margin-top: 0;
  }
}
